<div class="vision-container"@fadeIn>
    <h1>MY GOALS</h1>
    <ol>
        <li>"My vision is to continually push the boundaries of creativity and innovation, delivering exceptional work that not only meets client expectations but also inspires and empowers communities."</li>

       <li>"I aim to create impactful, forward-thinking solutions that bridge the gap between design and technology, with a focus on sustainability and social responsibility."</li>
        
       <li> "My goal is to contribute meaningfully to the growth and development of brands by crafting authentic experiences that resonate with diverse audiences and drive lasting engagement."</li>
        
      <li> "I strive to be a catalyst for positive change in the industries I work in, blending artistic integrity with strategic insight to bring visionary ideas to life."</li>
        
       <li> "I am committed to lifelong learning and personal growth, aiming to refine my skills and expand my knowledge in order to provide cutting-edge solutions to complex challenges."</li>
        
        </ol>
    <img alt="" src="https://w0.peakpx.com/wallpaper/972/595/HD-wallpaper-joker-cartoon-dangerous.jpg"/>
</div>
